<div class="grid">
  <div class="h1-style">
    <h1>Tabela ações variaveis do ativo {{nameActive}}</h1>
  </div>

  <div style="margin: 5rem">
    <mat-form-field>
      <mat-label style="height: 5rem;" *ngIf="searchTerm.length === 0">Search</mat-label>
      <input maxlength="8" matInput [(ngModel)]="searchTerm" placeholder="PETR4.SA" />
    </mat-form-field>
    <div style="text-align: center;">
      <button mat-button *ngIf="searchTerm" (click)="getSearch()">SEARCH</button>
    </div>
  </div>

  <table *ngIf="dados.length > 0">
    <thead>
      <tr>
        <th class="col-xs-3">Dia</th>
        <th class="col-xs-3">Data</th>
        <th class="col-xs-3">Valor</th>
        <th class="col-xs-3">Variação em relação a D-1 (%)</th>
        <th class="col-xs-3">Variação em relação à primeira data (%)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dados">
        <td class="col-xs-3">{{ item.dia }}</td>
        <td class="col-xs-3">{{ item.data }}</td>
        <td class="col-xs-3">{{ item.valor }}</td>
        <td class="col-xs-3">{{ item.variacaoD1 | number: '1.2-2' }}%</td>
        <td class="col-xs-3">{{ item.variacaoPrimeiraData | number: '1.2-2' }}%</td>
      </tr>
    </tbody>
  </table>

  <!-- <div style="display: block;">
    <canvas baseChart datasets="chartData" labels="chartLabels" options="chartOptions" legend="true"
      chartType="chartType">
    </canvas>
  </div> -->
</div>